@import '../../colors';

.container {
    height: 40%;
    width: 70%;
    background: $background;
    border-radius: 2px;
    margin-left: 10%;
    margin-top: 10%;
    padding: 5%;

    .container-title {
        color: $green-alternate;
    }
}
